<section class="content" id="characters">
	<div class="subsection" id="char-desc">
		<h2>The Adventurers</h2>
        <div class="row" id="current-characters">
            <div id="Io">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/Io.jpg" />
                                <span>
                                    <h3>Io</h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                           <div class="inner">A pirate, an elven steward, a high-born priestess, Io has lived many lifetimes, but very little of ser own. Driven by ser emotions, Io moves from place to place, life to life, chaos following in ser wake, and chasing some identity&#8211;any identity&#8211;that&#8242;s more than an illusion.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Lakashtari">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/Lakashtari.jpg" />
                                <span>
                                    <h3>Lakashtari</h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                            <div class="inner">Not much is said of the mysterious Lakashtari.<br/><sub>(mostly because Peaches never wrote anything)</sub></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Dox">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/DoxEnhance.jpg" />
                                <span>
                                    <h3>Dox</h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                            <div class="inner">A warforged with no purpose is but an empty casket made of useless scrap metal. Some may call it freedom, but to Dox, the end of the Last War meant a reasonless existence.<br><br>Reborn from lethal injuries and unpaid debt, Dox serves the Guild of Normalcy, seeking purpose in a world he was not meant to be a part of.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Uriah">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/Uriah.jpg" />
                                <span>
                                    <h3>Uriah Craft</h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                            <div class="inner">Uriah Craft, imprisoned as a young orphan for stealing bread, has a score to settle with the world.<br><br>Every night of his sixty years behind bars he poured over occult manuscripts, whispering incantations to the shadows, learning the art of dark sorcery.<br><br>Now, set free in a strange new world, he uses his skills to scrape a life from the muck of the city streets, and to find answers to the question he never stopped asking: "Who am I?"</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Aramis">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/AramisBlack.jpg" />
                                <span>
                                    <h3>Aramis Black<br><span class="title">&#34;Lord of the Wind&#34;</span></h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                            <div class="inner" id="AramisBio">Hi everyone,<br>Captain Aramis Black here or you may know me as the Lord of the Wind. I grew up rich and privileged but threw it all away for a life of freedom. Now I live a life free from the rigid structure of nobility and regalia.<br><br>I've traveled across the oceans, visited lands unknown.<br>I've convinced dragons to lend me gold.<br>I've talked my way out of prison.<br>And I've also never actually learned how to sail a ship.<br><br>I'm also a pretty good liar.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subsection" id="lost-char-desc">
        <h2>The Hall of Fallen Heroes</h2>
        <div class="row" id="lost-characters">
            <div id="Inkeri">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/FPool.png" />
                                <span>
                                    <h3>Inkeri</h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                           <div class="inner">Story</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Lisara">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/FPool.png" />
                                <span>
                                    <h3>Lisara</h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                           <div class="inner">Story</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Mogar">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/Pool.png" />
                                <span>
                                    <h3>Mogar</h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                           <div class="inner">Story</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Rukthul">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/Pool.png" />
                                <span>
                                    <h3>Rukthul</h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                           <div class="inner">Story</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Tabitha">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/FPool.png" />
                                <span>
                                    <h3>Tabitha</h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                           <div class="inner">Story</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Valnor">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/Pool.png" />
                                <span>
                                    <h3>Valnor</h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                           <div class="inner">Story</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Vox">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/FPool.png" />
                                <span>
                                    <h3>Vox</h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                           <div class="inner">Story</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Lucien">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/Pool.png" />
                                <span>
                                    <h3>Lucien</h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                           <div class="inner">Story</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Astraios">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/Pool.png" />
                                <span>
                                    <h3>Astraios Xanthis</h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                           <div class="inner">Story</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Mayala">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/FPool.png" />
                                <span>
                                    <h3>Mayala</h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                           <div class="inner">Story</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Belar">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/Pool.png" />
                                <span>
                                    <h3>Belar</h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                           <div class="inner">Story</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Bryseis">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/FPool.png" />
                                <span>
                                    <h3>Bryseis</h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                           <div class="inner">Story</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Marconys">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/Pool.png" />
                                <span>
                                    <h3>Marconys</h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                           <div class="inner">Story</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Meloryn">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/FPool.png" />
                                <span>
                                    <h3>Meloryn</h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                           <div class="inner">Story</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Vimak">
                <div class="flip">
                    <div class="card">
                        <a class="face cardface">
                            <div class="inner">
                                <img src="images/Pool.png" />
                                <span>
                                    <h3>Vimak</h3>
                                </span>
                            </div>
                        </a>
                        <div class="well face cardtext">
                           <div class="inner">Story</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>