<div class="row">
	<h2 class="col-xs-12">The Dragonmark Houses:</h2>
</div>
<div class="row" id="DMHouses">
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
		<div class="flip">
			<div class="card">
				<a class="face cardface">
					<div class="inner">
						<img src="images/Cannith.jpg"/>
						<span>
							<h3>House Cannith</h3>
							<p>Mark of Making</p>
						</span>
					</div>
				</a>
				<div class="well face cardtext">
					<div class="inner">House Cannith is a human dragonmarked house whose members are well known for their innovation and advancements in technology. They are responsible for technological wonders such as the Warforged and the Lightning rail. House Cannith provide repair services and the house's gorgon mark is a known and trusted symbol that appears on magical and mundane items. Through past wars Cannith have become the most politically powerful Dragonmarked House.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
		<div class="flip">
			<div class="card">
				<a class="face cardface">
					<div class="inner">
						<img src="images/Deneith.jpg"/>
						<span>
							<h3>House Deneith</h3>
							<p>Mark of Protection</p>
						</span>
					</div>
				</a>
				<div class="well face cardtext">
					<div class="inner">House Deneith is a human dragonmarked house whose members are highly-acclaimed mercenaries and bodyguards known for their efficiency and martial skill. Deneith are the muscle of the dragonmarked houses, providing raw power to a nation's army. Taking sides is bad for business, so during the Last War, Deneith remained neutral and provided soldiers to all sides. Now that the war has ended Deneith members are hired for guarding monarchs and chasing down criminals.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
		<div class="flip">
			<div class="card">
				<a class="face cardface">
					<div class="inner">
						<img src="images/Ghallanda.jpg"/>
						<span>
							<h3>House Ghallanda</h3>
							<p>Mark of Hospitality</p>
						</span>
					</div>
				</a>
				<div class="well face cardtext">
					<div class="inner">House Ghallanda is a halfling dragonmarked house found throughout Khorvaire. Ghallanda is one of the few Dragonmarked Houses that are not involved with some form of arms dealing or soldiering, instead Ghallanda are Eberron's best hosts dealing in food and shelter.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
		<div class="flip">
			<div class="card">
				<a class="face cardface">
					<div class="inner">
						<img src="images/Jorasco.jpg"/>
						<span>
							<h3>House Jorasco</h3>
							<p>Mark of Healing</p>
						</span>
					</div>
				</a>
				<div class="well face cardtext">
					<div class="inner">The Mark of Healing first appeared among the halflings of the Talenta Plains about three thousand years ago, but the Jorasco family eventually moved its headquarters to Karrnath to better serve greater Khorvaire. For this reason, most of the Jorasco halflings are cosmopolitan and cultured in the traditions of the Five Nations, with few ties to the ancient nomadic ways of the Plains. Today, the Healers Guild of House Jorasco tends to the well-being of most of Khorvaire. Using both mundane and magical healing techniques, as well as alchemy and herbalism, the healers of House Jorasco deal in curing illnesses, tending wounds, and treating mental maladies in their hospitals and healing enclaves.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
		<div class="flip">
			<div class="card">
				<a class="face cardface">
					<div class="inner">
						<img src="images/Kundarak.jpg"/>
						<span>
							<h3>House Kundarak</h3>
							<p>Mark of Warding</p>
						</span>
					</div>
				</a>
				<div class="well face cardtext">
					<div class="inner">House Kundarak is a Dwarven house with services focused in security and banking. Their primary customers are those who have enough coin to buy something worth protecting including the wealthy, the powerful, other dragon marked houses and even state governments. They are the wealthiest Dragonmarked House by far and their banking establishments can be found all over Khorvaire.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
		<div class="flip">
			<div class="card">
				<a class="face cardface">
					<div class="inner">
						<img src="images/Lyrandar.jpg"/>
						<span>
							<h3>House Lyrandar</h3>
							<p>Mark of Storm</p>
						</span>
					</div>
				</a>
				<div class="well face cardtext">
					<div class="inner">House Lyrandar consists of half-elves with the Mark of Storm. With outposts in Breland, Aundair, Zilargo, Thrane, Valenar, and Karrnath, House Lyrandar’s shipping and transporation services rival those of House Orien, and the two often compete over contracts that could be fulfilled over either land or sea. The half-elves find few opportunities in the Lhazaar Principalities, however, and often come into conflict with ships of the Lhazaar princes in the open seas.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
		<div class="flip">
			<div class="card">
				<a class="face cardface">
					<div class="inner">
						<img src="images/Medani.jpg"/>
						<span>
							<h3>House Medani</h3>
							<p>Mark of Detection</p>
						</span>
					</div>
				</a>
				<div class="well face cardtext">
					<div class="inner">The half-elves of House Medani carry the Mark of Detection. House Medani originated in pre-Galifar Breland fifteen hundred years ago, using its abilities to detect threats to foresee dangers and establish a base of power related to knowledge in the wake of the War of the Mark.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
		<div class="flip">
			<div class="card">
				<a class="face cardface">
					<div class="inner">
						<img src="images/Orien.jpg"/>
						<span>
							<h3>House Orien</h3>
							<p>Mark of Passage</p>
						</span>
					</div>
				</a>
				<div class="well face cardtext">
					<div class="inner">The humans of House Orien bear the Mark of Passage. The house originated in pre-Galifar Aundair almost two thousand years ago; its abilities related to transporation and teleportation quickly earned it a place among the economic powers.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
		<div class="flip">
			<div class="card">
				<a class="face cardface">
					<div class="inner">
						<img src="images/Phiarlan.jpg"/>
						<span>
							<h3>House Phiarlan</h3>
							<p>Mark of Shadow</p>
						</span>
					</div>
				</a>
				<div class="well face cardtext">
					<div class="inner">The first dragonmarks appeared among the elves of Aerenal more than three thousand years ago. The Mark of Shadow and the Mark of Death appeared at about the same time, and the elves quickly understood the significance of the event. House Phiarlan organized around the Mark of Shadow and began turning the abilities provided by the mark into an economic dynasty. However, with the slaughter of the House of Death twenty-six hundred years ago, House Phiarlan left Aerenal and relocated to Khorvaire, where the elves intermingled with humans and helped lay the foundation for the Five Nations.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
		<div class="flip">
			<div class="card">
				<a class="face cardface">
					<div class="inner">
						<img src="images/Thuranni.jpg"/>
						<span>
							<h3>House Thuranni</h3>
							<p>Mark of Shadow</p>
						</span>
					</div>
				</a>
				<div class="well face cardtext">
					<div class="inner">Once part of House Phiarlan, the elves of House Thuranni formed their own house during the Last War as the conflict began to turn various house factions against each other. Now Thuranni competes directly with Phiarlan in the areas of espionage, surveillance, and information brokering, as well as in entertainment and artisan endeavors. The two houses share the Mark of Shadow, though the newer version of the house in many ways remains the weaker of the two.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
		<div class="flip">
			<div class="card">
				<a class="face cardface">
					<div class="inner">
						<img src="images/Sivis.jpg"/>
						<span>
							<h3>House Sivis</h3>
							<p>Mark of Scribing</p>
						</span>
					</div>
				</a>
				<div class="well face cardtext">
					<div class="inner">Using natural talent and the Mark of Scribing, the gnomes of House Sivis have established themselves as the masters of the written and spoken word. In addition to maintaining the lines of mystical communication that connect the nations of Khorvaire, House Sivis provides translators, notaries, mediators, and advocates to cities across the continent.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
		<div class="flip">
			<div class="card">
				<a class="face cardface">
					<div class="inner">
						<img src="images/Tharashk.jpg"/>
						<span>
							<h3>House Tharashk</h3>
							<p>Mark of Finding</p>
						</span>
					</div>
				</a>
				<div class="well face cardtext">
					<div class="inner">The humans and half-orcs of House Tharashk use the Mark of Finding to work as prospectors, inquisitives, and bounty hunters. The Mark of Finding first appeared in the Shadow Marches about one thousand years ago. After being visited by House Sivis representatives five hundred years ago, the holders of the mark decided to follow the example of the gnomes and form an economic force of their own.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
		<div class="flip">
			<div class="card">
				<a class="face cardface">
					<div class="inner">
						<img src="images/Vadalis.jpg"/>
						<span>
							<h3>House Vadalis</h3>
							<p>Mark of Handling</p>
						</span>
					</div>
				</a>
				<div class="well face cardtext">
					<div class="inner">House Vadalis bears the Mark of Handling, which has the power to calm and control animals. The Vadalis Handlers Guild breeds and sells a tremendous variety of animals, and Vadalis handlers serve as teamsters, trainers, and stablekeepers across Khorvaire.</div>
				</div>
			</div>
		</div>
	</div>
</div>
